# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
!/build/libs/ 
build/*

bin

upload-dir/
test-upload-dir/

src/main/resources/application-production.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/